@import '-forms';
@import '-buttons';
@import 'abrusco';

.code--block {
  font-size: 14px;
  line-height: 20px;
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.outline,
.outline\:focus:focus,
.outline\:focus-within:focus-within {
  outline: 2px solid;
  outline-offset: 1px;
}
