@import 'abrusco/base';
@import 'abrusco/modules';

@import './buttons';
@import './forms';
@import './toasts';

@import 'abrusco/utils';
@import 'abrusco/debug';

.code--block {
  font-size: 14px;
  line-height: 20px;
}

.outline,
.outline\:focus:focus,
.outline\:focus-within:focus-within {
  outline: 2px solid;
  outline-offset: 1px;
}
